<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.your.package.hotelbooking">

    <!-- other manifest elements -->

    <application
        android:name=".MainApplication"
        android:label="@string/hotelbooking"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:supportsRtl="true"> <!-- Add this line -->

        <!-- other application elements -->

    </application>
</manifest>
